/* ANIMATIONS */

@keyframes summon {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}